.auth-gradient {
/* fallback for old browsers */
background: #fccb90;

/* Chrome 10-25, Safari 5.1-6 */
background: -webkit-linear-gradient(to right, #04FF68, #007711);

/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background: linear-gradient(to right, #04FF68, #007711);
}

@media (min-width: 768px) {
.gradient-form {
height: 100vh !important;
}
}
@media (min-width: 769px) {
.auth-gradient {
border-top-right-radius: .3rem;
border-bottom-right-radius: .3rem;
}
}

.top-header {
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
}
