{% extends 'accounts/forms_base.html' %}
{% block content %}

<div class="container mx-auto p-4">
    <h2 class="text-2xl font-bold mb-4">Add New Player</h2>
    <form method="post" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
        {% csrf_token %}
        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="{{ form.name.id_for_label }}">
                Player Name
            </label>
            {{ form.name }}
            {% if form.name.errors %}
                <p class="text-red-500 text-xs italic">{{ form.name.errors }}</p>
            {% endif %}
        </div>
        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="{{ form.age.id_for_label }}">
                Age
            </label>
            {{ form.age }}
            {% if form.age.errors %}
                <p class="text-red-500 text-xs italic">{{ form.age.errors }}</p>
            {% endif %}
        </div>
        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="{{ form.position.id_for_label }}">
                Position
            </label>
            {{ form.position }}
            {% if form.position.errors %}
                <p class="text-red-500 text-xs italic">{{ form.position.errors }}</p>
            {% endif %}
        </div>
        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="{{ form.bio.id_for_label }}">
                Bio
            </label>
            {{ form.bio }}
            {% if form.bio.errors %}
                <p class="text-red-500 text-xs italic">{{ form.bio.errors }}</p>
            {% endif %}
        </div>
        <div class="mb-6 flex items-center">
            {{ form.privacy_consent }}
            <label class="ml-2 text-gray-700 text-sm font-bold" for="{{ form.privacy_consent.id_for_label }}">
                Privacy Consent
            </label>
            {% if form.privacy_consent.errors %}
                <p class="text-red-500 text-xs italic">{{ form.privacy_consent.errors }}</p>
            {% endif %}
        </div>
        <div class="flex items-center justify-between">
            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
                Add Player
            </button>
        </div>
    </form>
</div>

{% endblock %}
