{% extends "wiki/base_site.html" %}

{% load static sekizai_tags %}

{# Page <title> #}
{% block wiki_site_title %}Devon RFU Colts Docs{% endblock %}

{# Top-left brand in navbar #}
{% block wiki_header_branding %}
  <a class="navbar-brand" href="{% url 'home' %}">Devon RFU Colts</a>
{% endblock %}

{# Top nav links #}
{% block wiki_header_navlinks %}
  <ul class="nav navbar-nav">
    <li><a href="{% url 'home' %}">Fixtures & Results</a></li>
    <li class="active"><a href="{% url 'wiki:root' %}">Docs</a></li>
  </ul>
{% endblock %}

{# Extra CSS #}
{% block wiki_prepend_style %}
  {% addtoblock "css" %}
    <link rel="stylesheet" href="{% static 'css/wiki.css' %}">
  {% endaddtoblock %}
{% endblock %}
