{% extends 'base.html' %}
{% block title %}About - Colts{% endblock %}
{% block hero %}About Us{% endblock %}
{% block content %}
<div class="container my-5">
    <h2 class="mb-4 text-center">About Devon RFU Colts</h2>
    <div class="row">
        <div class="col-md-6">
            <img src="/static/about_us.jpg" class="img-fluid rounded" alt="About Us Image"
     onerror="this.onerror=null; this.src='/static/default.png';">
        </div>
        <div class="col-md-6">
            <p>The Devon RFU Colts team is a proud representative of rugby union in the Devon region. Established in [Year], our club has a rich history of fostering young talent and promoting the values of teamwork, discipline, and sportsmanship.</p>
            <p>Our mission is to provide a supportive environment for young players to develop their skills, both on and off the field. We are committed to nurturing the next generation of rugby stars while instilling a love for the game.</p>
            <p>We participate in various leagues and tournaments, competing against other regional teams. Our coaching staff is dedicated to helping players reach their full potential through rigorous training programs and personalized coaching.</p>
            <p>At Devon RFU Colts, we believe in giving back to the community. We regularly engage in outreach programs, promoting rugby at the grassroots level and encouraging youth participation in sports.</p>
            <p>Join us as we continue to build a legacy of excellence in rugby and make a positive impact on the lives of young athletes in Devon.</p>
        </div>
    </div>
</div>
{% endblock %}
